:root {
    --primary: #e9ccb6;
    --primary-text: #653b22;
    --accent: #e64b05;
    --secondary: #000;
    --secondary-text: #f6e6da;
    --accent-text: #ffffff;
    --primary-button: #e64b05;
    --main-card: #815337;
    --header-text: #164088;
    --border: "4px solid black";
  }
  